useDynLib(GPvam, .registration = TRUE)

# Exported functions
export(
  GPvam,
  print.GPvam,
  plot.GPvam,
  summary.GPvam,
  bias.test.custom
)

# Imported functions
import(Matrix)
import(Rcpp)
# importFrom(gplots, plotCI)
importFrom("utils", "write.csv")
importFrom(numDeriv, jacobian)
importFrom("graphics", "abline", "arrows", "par", "plot", "points", 
           "strheight", "strwidth", "text", "title")
importFrom("grDevices", "devAskNewPage")
importFrom("methods", "as")
importFrom("stats", "dnorm", "formula", "na.fail", "qnorm", 
           "qqline", "qqnorm", "var")
 importFrom("stats", "ecdf", "t.test")
importFrom("utils", "flush.console")

# New Imports for the Added Function
importFrom(MASS, ginv)
importFrom(ggplot2, ggplot, geom_histogram, geom_vline, labs, 
           coord_cartesian, theme_minimal, aes, ggsave)
importFrom(patchwork, wrap_plots, plot_annotation)

# S3 methods
S3method(print, GPvam)
S3method(plot, GPvam)
S3method(summary, GPvam)
S3method(print, summary.GPvam)
