# Exported functions
export(GPvam,print.GPvam,plot.GPvam,summary.GPvam)

# Imported functions
import(Matrix)
importFrom(gplots,plotCI)
importFrom(numDeriv,jacobian)


# S3 methods
S3method(print, GPvam)
S3method(plot, GPvam)
S3method(summary, GPvam)
S3method(print,summary.GPvam)